[submodule "BuildCraftAPI"]
	path = BuildCraftAPI
	url = https://github.com/LRW-Calen/BuildCraftAPI.git
[submodule "BuildCraft-Localization"]
	path = BuildCraft-Localization
	url = https://github.com/LRW-Calen/BuildCraft-Localization.git
[submodule "BuildCraftGuide"]
	path = BuildCraftGuide
	url = https://github.com/LRW-Calen/BuildCraftGuide.git
